 .u-section-1 {
  background-image: url("images/coverpagemivan-01.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 279px auto 0;
  padding: 9px 105px 11px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 20px auto 0;
  padding: 9px 109px 11px 108px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 30px auto 60px;
  padding: 9px 90px 11px 89px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
  }

  .u-section-1 .u-btn-3 {
    align-self: center;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 102px;
    padding-right: 102px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 108px;
    padding-left: 107px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1rem;
    padding-right: 89px;
  }
}